html{
    background-color: hotpink;
}
body{
    margin: 0;
    height: 100vh;
    width: 100%;
}
.wrapper{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FD8AE1;
    height: 100%;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 10px 0 10px 0;
}
.menubutton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubutton.jimmie{
    justify-content: baseline;
    margin-right: 20%;
}
.empty{
    width: 4rem;
}
.menubutton i.material-icons{
    font-size: 4rem; 
}
.title{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}
.menu{
    background-color: #FD8AE1;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    font-size: 3.5rem;
    font-weight: bold;
    position: absolute;
    top: -100%;
    transition: top 1s;
}
.menutitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu ul{
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 2.5rem;
}
.menu li{
    padding: 5px;
}
ul a{
    text-decoration: none;
    color: white;
}
.menuactivate{
    top: 0;
    transition: top 1s;
    
}
.scarylink{
    text-shadow: 2px 2px #FF0000;
    font-size: 2rem;
    position: relative;
    top: 20%;
    left: 30%;
    text-align: center;
}
.scarylink a{
    color: black;
    text-decoration: none;
}
.shopmain{
    background-color: #FFDAF6;
    height: 200%;
    /* display: grid;
    grid-template-rows: 20% 8% 70%;
    grid-template-areas:
    "desc"
    "cate"
    "products"; */
    display: flex;
    flex-direction: column;
    
}
.shopdesc{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #555555;
    font-size: 1.5rem;
    padding: 10% 0 10% 0;
}
.productscont{
    grid-area: products;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;     
}
.productbox{
    height: 300px;
    width: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.productimage{
    background-color: white;
    height: 200px;
    width: 150px;
}
.producttext{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 25px;
}
.productprice{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 25px;

}
.buybutton{
    background-color: #005FFF;
    padding:  5px 10px 5px 10px ;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.productmain{
    grid-template-rows: 15% 35% 10% 35%;
    grid-template-areas: 
    "header"
    "image"
    "price"
    "desc";
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #FFDAF6;
    padding-left: 10px;
    box-sizing: border-box;
    padding-bottom: 20px;
}
.producttitle.ppage{
    grid-area: header;
    font-size: 2.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    
}
.producttitle.ppage i.material-icons{
    font-size: 3rem;
    text-align: center;
}
.pimagecont.ppage{
    grid-area: image;
    display: flex;
    align-items: center;    
}
.productimage.ppage{
    background-color: white;
    height: 220px;
    width: 150px;
    border-radius: 5px;
}
.producttext.ppage{
    grid-area: price;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding-right: 10%;
    
}
.buybutton.ppage{
    grid-area: price;
    height: 40px;
}
.productdesc.ppage{
    grid-area: desc;
    line-height: 25px;
    padding: 0 20px 0 0;
    
}
.jimmiemain{
    background-color: black;
    height: 100%;
    color: white;
}
.jimmietext{
    color: red;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    transform: rotate(50deg);
}
.categorycont{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.categorybutton{
    width: calc(50% - 12px);
    height: 50px;
    border: 1px grey solid;
    text-decoration: none;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    padding-left: 10px;
    color: #2E2E2E;
    
}
.categorymenu{
    width: 100%;
    display: none;
    
}
.categorymenu a{
    height: 50px;
    text-decoration: none;
    border: 1px grey solid;
    color: #2E2E2E;
    width: calc(100% - 22px);
    display: flex;
    align-items: center;
    border-top: none;
    padding-left: 20px;
    
}
.catmenuactivate{
    display: flex;
    align-items: center;
    flex-direction: column;
}
a.cartlink{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
a.cartlink i.material-icons{
    font-size: 3.5rem;
    color: white;
}
.cartmain{
    background-color: #FFDAF6;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartback{
    padding: 5% 0 0 0%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.cartback i.material-icons{
    font-size: 4rem;
}
.carttitle{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #2E2E2E;
}
.carttext{
    text-align: center;
    color: #555555;
    padding: 10%;
}
.cartbutton{
    font-size: 2rem;
    color: white;
    font-weight: 700;
    background-color: #005FFF;
    border-radius: 10px;
    padding: 10px;
    margin: 70% 0 0 0;
    width: 160px;
    
}
.cartempty{
    width: 4rem;
}
.mainimage{
    width: 300px;
    height: 400px;    
}
.shopempty{
    display: none;
}
@media only screen  and (min-width : 1224px) {
    .title br{
        display: none;
    }
    .menubutton{
        display: none;
    }
    .empty{
        display: none;
    }
    main{
        height: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 15% 85%;
        grid-template-areas: 
        "menu header"
        "menu main";
    }
    header{
        grid-area: header;
        align-items: center;
    }
    .menu{
        grid-area: menu;
        position: initial;
        border-right: 3px white solid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
    .imagemain{
        grid-area: main;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainimage{
        height: 400px;
        width: 700px;
        background-color: white;
    }
    .menu ul{
        position: relative;
        top: -10%;
    }
    .scarylink{
        top: 0%;
        left: 25%;
    }
    .title{
        text-align: center;
    }
    .shopempty{
        display: block;
        width: 4rem;
    }
    .shopmain{
        grid-area: main;
    }
    .cartbutton{
        margin: 25% 0 0 0;
    }
    .carttext{
        padding: 2.5%;
    }
    .shopdesc{
        padding: 3% 0 3% 0;
    }
    .productscont{

    }
    .productbox{
        flex-wrap: flex;
    }
    .productimage{

    }
    .producttext{

    }
    .buybutton{

    }
}
