html{
    background-color: #FD8AE1;
}
body{
    margin: 0;
    height: 100vh;
    width: 100%;
}
.wrapper{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FD8AE1;
    height: 100%;
}
main{
    height: 100%;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 10px 0 10px 0;
}
.menubutton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubutton.jimmie{
    justify-content: baseline;
    margin-right: 20%;
}
.empty{
    width: 4rem;
}
.menubutton i.material-icons{
    font-size: 4rem; 
}
.title{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}
.menu{
    background-color: #FD8AE1;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    font-size: 3.5rem;
    font-weight: bold;
    position: fixed;
    top: -100%;
    transition: top 1s;
    z-index: 10;
}
.menutitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu ul{
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 2.5rem;
}
.menu li{
    padding: 5px;
}
ul a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 1px 2px #2E2E2E;
}
.menuactivate{
    top: 0;
    transition: top 1s;
    
}
.scarylink{
    text-shadow: 2px 2px #FF0000;
    font-size: 2rem;
    position: relative;
    top: 20%;
    left: 30%;
    text-align: center;
}
.scarylink a{
    color: black;
    text-decoration: none;
}
.shopmain{
    height: 150%;
    background-color: #FFDAF6;
    display: flex;
    flex-direction: column;
    
}
.shopdesc{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #555555;
    font-size: 1.5rem;
    padding: 10% 0 10% 0;
}
.productscont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;     
}
.productbox{
    height: 300px;
    width: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.productimage{
    background-color: white;
    height: 200px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
}
.productimage.one{
    background-image: url(../img/gustav_tshirt@W190pxH220px.jpg);
}
.productimage.two{
    background-image: url(../img/stefan_gustav_tshirt@W190pxH220px.jpg);
}
.productimage.three{
    background-image: url(../img/stefan_gustav@W220pxH220px.jpg);
}
.producttitle{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 25px;
}
.productprice{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 25px;
    
}
.productdesc{
    display: none;
}
.buybutton{
    background-color: #005FFF;
    padding:  5px 10px 5px 10px ;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.productmain{
    grid-template-rows: 15% 35% 10% 40%;
    grid-template-areas: 
    "header"
    "image"
    "price"
    "desc";
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #FFDAF6;
    padding-left: 10px;
    box-sizing: border-box;
    padding-bottom: 20px;
    
}
.producttitle.ppage{
    grid-area: header;
    font-size: 2.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    
}
.producttitle.ppage i.material-icons{
    font-size: 3rem;
    text-align: center;
}
.pimagecont.ppage{
    grid-area: image;
    display: flex;
    align-items: center;    
}
.productimage.ppage{
    background-color: white;
    height: 220px;
    width: 150px;
    border-radius: 5px;
}
.producttext.ppage{
    /* grid-area: price; */
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding-right: 10%;
    
}
.buybutton.ppage{
    grid-area: price;
    height: 40px;
}
.productdesc.ppage{
    grid-area: desc;
    display: block;
    line-height: 1.6;
    padding: 0 20px 0 0;
    
}
.jimmiemain{
    background-color: black;
    height: 100%;
    color: white;
}
.jimmietext{
    color: red;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    transform: rotate(50deg);
}
.categorycont{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.categorybutton{
    width: calc(50% - 12px);
    height: 50px;
    border: 1px grey solid;
    text-decoration: none;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    padding-left: 10px;
    color: #2E2E2E;
    position: relative;
    top: -1px;
    left: -1px;
}
.categorymenu{
    width: 100%;
    display: none;
    
}
.categorybuttoncont{
    height: 50px;
    border: 1px grey solid;
    display: flex;
    flex-direction: row;
    user-select: none;
}
.categorymenu a{
    height: 50px;
    text-decoration: none;
    border: 1px grey solid;
    color: #2E2E2E;
    width: calc(100% - 22px);
    display: flex;
    align-items: center;
    border-top: none;
    padding-left: 20px;
    
}
.catmenuactivate{
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}
a.cartlink{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
a.cartlink i.material-icons{
    font-size: 3.5rem;
    color: white;
}
.cartmain{
    background-color: #FFDAF6;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartback{
    padding: 5% 0 0 0%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.cartback i.material-icons{
    font-size: 4rem;
}
.carttitle{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #2E2E2E;
}
.carttext{
    text-align: center;
    color: #555555;
    padding: 10%;
}
.cartbutton{
    font-size: 2rem;
    color: white;
    font-weight: 700;
    background-color: #005FFF;
    border-radius: 10px;
    padding: 10px;
    margin: 70% 0 0 0;
    width: 160px;
    
}
.cartempty{
    width: 4rem;
}
.imagemain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainimage{
    position: relative;
    background-image: url(../img/stefan_gustav@W400pxH400px.jpg);
    width: 300px;
    height: 400px;
    background-position: center;
    border: 10px gold solid; 
}
.shopempty{
    display: none;
}
@media only screen  and (min-width : 1224px) {
    .title br{
        display: none;
    }
    .menubutton{
        display: none;
    }
    .empty{
        display: none;
    }
    main{
        height: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 15% auto;
        grid-template-areas: 
        "menu header"
        "menu main";
    }
    header{
        grid-area: header;
        align-items: center;
    }
    .menu{
        height: 100%;
        grid-area: menu;
        position: initial;
        border-right: 3px white solid;
        display: flex;
        flex-direction: column;
    }
    .imagemain{
        height: auto;
        grid-area: main;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainimage{
        position: relative;
        height: 600px;
        width: 600px;
        background-image: url(../img/stefan_gustav@W600pxH600px.jpg);
        background-repeat: no-repeat;
    }
    .menu ul{
        margin-top: 50px;
    }
    .menu li{
        padding: 0px;
    }
    ul a{
        padding: 5px;
        font-size: 1.7rem;
        border-radius: 5px;
        border: 1px rgba(0, 0, 0, 0) solid;
        
    }
    ul a:hover{
        border: 1px rgba(0, 0, 0, 1) solid;
        box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);

    }
    .scarylink{
        top: 250px;
    }
    .title{
        text-align: center;
    }
    .shopempty{
        display: block;
        width: 4rem;
    }
    .shopmain{
        height: auto;
        grid-area: main;
        width: calc(100% - 3px);
        margin-left: 3px;
    }
    .cartbutton{
        margin: 25% 0 0 0;
    }
    .carttext{
        padding: 2.5%;
    }
    .shopdesc{
        padding: 3% 0 3% 0;
    }
    .productscont{
        justify-content: center;
    }
    .productbox{
        flex-direction: column;
        height: 500px;
        width: 300px;
        padding: 20px;
        justify-content: space-between;
    }
    .pricecontainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .productimage{
        height: 300px;
        width: 300px;
    }
    .productprice{
        font-size: 2rem;
        text-align: center;
    }
    .buybutton{
        font-size: 2rem;
    }
    .producttitle{
        font-size: 2rem;
        text-align: left;
        width: 100%
    }
    .productdesc{
        display: flex;
        line-height: 1.6;
    }
    .categorybutton{
        width: auto;
        padding-right: 10%;
        flex-direction: column;
    }
    .productmain{
        width: calc(100% - 3px);
        grid-template-columns: 35% 65%;
        grid-template-rows: 15% 35% 10% 35%;
        grid-template-areas: 
        "image header"
        "image price"
        "image desc"
        "image desc";
        margin-left: 3px;
        padding: 0;
    }
    .producttitle.ppage{
        font-size: 3rem;
    }
    .producttitle.ppage i.material-icons{
        font-weight: bold;
        padding-right: 10%;
    }
    .pimagecont.ppage{
        justify-content: center;
    }
    .productimage.ppage{
        height: 400px;
        width: 300px;
        position: relative;
        top: -10%;
    }
    .productimage.one{
        background-image: url(../img/gustav_tshirt@W400pxH350px.jpg);
    }
    .productimage.two{
        background-image: url(../img/stefan_gustav_tshirt@W350pxH400px.jpg);
    }
    .productimage.three{
        background-image: url(../img/stefan_gustav@W400pxH400px.jpg);
    }
    .producttext.ppage{
        font-size: 2rem;
        align-items: flex-start;
    }
    .jimmiemain{
        grid-area: main;
    }
    .jimmietext{
        font-size: 7rem;
    }
}